@model ASS.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if(Model != null && Model.msg != "") { 
    <div class="alert alert-success" role="alert">@Model.msg</div>
    }
    <div class="form-horizontal">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(a => a.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(a => a.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(a => a.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(a => a.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(a => a.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(a => a.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(a => a.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(a => a.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
