@model ASS.Model.ass_reminder

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.descs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Start Day</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.start_day, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.start_day, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">End Day</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.end_day, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.end_day, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Background</label>
            <div class="col-md-10">
                @Html.DropDownList("clases", null, htmlAttributes : new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.clases, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-10">
                <div class="checkbox">
                    <label>@Html.CheckBoxFor(model => model.isOnlyMe) Only me</label>
                </div>                
                @Html.ValidationMessageFor(model => model.clases, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
